<div class="center-content">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Login/Register</mat-card-title>
      <mat-card-subtitle>fill out this form</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-tab-group>

        <mat-tab label="Login"> 
          <form class="example-form">
            <table class="example-full-width">
              <tr>
                <td colspan="2">
                  <mat-form-field class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput placeholder="Email" value="" [(ngModel)]="log_email" name="log_email">
                    <mat-icon matSuffix> email</mat-icon>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <mat-form-field class="example-full-width">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput placeholder="Password" [(ngModel)]="log_password" name="log_password">
                    <mat-icon matSuffix> vpn_key</mat-icon>
                  </mat-form-field>
                </td>
              </tr>
            </table>
            <button class="mat-button" mat-button color="primary" style="color: white;" (click)="login()">Login</button>
          </form>
        </mat-tab>
        <mat-tab label="Register"> 
          <form class="example-form">
            <table>
              <tr>
                <td>
                  <mat-form-field class="example-full-width">
                    <mat-label>First name</mat-label>
                    <input matInput [(ngModel)]="reg_first_name" name="reg_first_name">
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field class="example-full-width">
                    <mat-label>Last name</mat-label>
                    <input matInput [(ngModel)]="reg_last_name" name="reg_last_name">
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <mat-form-field class="example-full-width">
                    <mat-label>User  name</mat-label>
                    <input matInput placeholder="User name" [(ngModel)]="reg_user_name" name="reg_user_name">
                    <mat-icon matSuffix>person</mat-icon>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <mat-form-field class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput placeholder="Email" value="" [(ngModel)]="reg_email" name="reg_email">
                    <mat-icon matSuffix> email</mat-icon>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <mat-form-field class="example-full-width">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput placeholder="Password" [(ngModel)]="reg_password" name="reg_password">
                    <mat-icon matSuffix> vpn_key</mat-icon>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <mat-form-field class="example-full-width">
                    <mat-label>Confirm Password</mat-label>
                    <input type="password" matInput placeholder="Confirm Password" [(ngModel)]="reg_confirm_password" name="reg_confirm_password">
                    <mat-icon matSuffix> vpn_key</mat-icon>
                  </mat-form-field>
                </td>
              </tr>
            </table>
            <button class="mat-button" mat-button color="primary" style="color: white;" (click)="register()">Register</button>
          </form>
        </mat-tab>
      </mat-tab-group>
      
    </mat-card-content>
  </mat-card>
  
</div>